<tr>
  <td>
    <span class="badge"><%= question.count %></span> <%= question.content %> 
    <div class="question_actions pull-right">
            <%= link_to raw("<span class=\"glyphicon glyphicon-thumbs-up\"></span>"),
                      increase_count_question_path(question),
                      :method => 'post',
                      :class => 'btn btn-mini btn-primary' %>
	    <% if asked_questions.include?(question.id) || admin? %>

	    <%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span>"),
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
	    <% end %>
    </div>
  </td>
</tr>

