/* Gotham Medium */
@font-face {
  font-family: 'GothamMedium';
  src: asset-url('gotham-medium/gotham-medium.eot'), /* IE9 Compat Modes */
       asset-url('gotham-medium/gotham-medium.woff') format('woff'), /* Modern Browsers */
       asset-url('gotham-medium/gotham-medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

/* Gotham Books */
@font-face {
  font-family: 'GothamBook';
  src: asset-url('gotham-book/gotham-book.eot'), /* IE9 Compat Modes */
       asset-url('gotham-book/gotham-book.woff') format('woff'), /* Modern Browsers */
       asset-url('gotham-book/gotham-book.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}
