/* Colors */

$main-color: #37a000;
$main-hover-color: #008329;
$secondary-text-color: #494949;
$main-background-color: #fff;
$body-background-color: #f9f9f9;
$border-color: #e0e0e0;
$alert-border-color: #e6a01e;

/* Images */

$logo-img: image-url('logo.png');
